section.cooperation
  .container
    .cooperation__content
      .row
        .col-xs-5
          .cooperation__img(style="background-image: url(img/room.png)")
        .col-xs-7
          .cooperation__text
            h2 Инвестируете в медИцину, Ищите сильного партнера?
            p Откройте клинику в партнерстве с Клиник Групп 
            a(href="#").btn Давайте знакомиться
            img(src="img/dnc.png", alt="")


