section.demands
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h2 Клинике нужны пациенты, а вам - этот курс, 
          span если вы:
      .col-xs-6
        .demands__block.demands__block-1
          h3 Владеете собственной клиникой
          p Или арендуете кабинет. Не можете пробить планку 1 000 000 руб
      .col-xs-6
        .demands__block
          h4 Планируете открыть клинику
          p Мечтаете работать на себя.
        .demands__block.demands__block-3
          h4 Управляете клиникой 
          p Регулируете бизнес процессы, отвечаете за маркетинг и продвижение медицинской клиники 
